//
// Mastfoot
// --------------------------------------------------


// Base class
// --------------------------------------------------


.mastfoot {
	height: 45px;
	border-top: 1px $color-border-main solid;
	width: 100%;
}

// 1 screen
// -------------------------

.mastfoot-1screen {
	position: absolute;
	bottom: 5px;
}