//
// Page
// --------------------------------------------------


// Base class
// --------------------------------------------------

.page {
		height: 100%;

	// Position Variations
	// -------------------------

	//# Vertical align - middle
	&-vertical-middle {
		display: table;
		width: 100%;
		height: 100%;
		
		.page-wrapper {
			display: table-cell;
			vertical-align: middle;
		}		
	}
	
	// Footer
	// -------------------------
	
	&-footer {
		padding: $padding-base-vertical $padding-base-horizontal;		
		border-top: 1px $color-border-main solid; 
		width: 100%;
			
		@include screen-sm-more	{
			position: fixed;
			bottom: 0;
			right: 0;
			left: 0;
		}
	}
}