//
// Base
// --------------------------------------------------

html,
body{
	overflow-x: hidden;
	position: relative;
	font-family: $font-family-light;
}

html, body {
	height: 100%;
    min-height: 530px;
	min-width: 320px;
} 