//
// Mixin Button variants
// --------------------------------------------------

@mixin button-variant(
	// Normal
	$color-normal,
	$background-normal,
	$border-normal,

	// Hover
	$color-hover:               $color-normal,
	$background-hover:          darken($background-normal, 6%),
	$border-hover:              darken($border-normal, 6%),

	// Active
	$color-active:              $color-normal,
	$background-active:         darken($background-normal, 12%),
	$border-active:             darken($border-normal, 12%)
	) {
	color:                      $color-normal;
	background-color:           $background-normal;
	border-color:               $border-normal;

	&:focus,
	&.focus,
	&:hover{
		color:                  $color-hover;
		background-color:       $background-hover;
		border-color:           $border-hover;
	}

	&:active,
	&.active,
	.open > &.dropdown-toggle {
		color:                  $color-active;
		background-color:       $background-active;
		border-color:           $border-active;

		&:hover,
		&:focus,
		&.focus {
			color:              $color-active;
			background-color:   $background-active;
			border-color:       $border-active;
		}
	}
	&:active,
	&.active,
	.open > &.dropdown-toggle {
		background-image: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&:hover,
		&:focus,
		&.focus {
			background-color:   $background-normal;
			border-color:       $border-normal;
		}
	}

	.badge {
		color:                  $background-normal;
		background-color:       $color-normal;
	}
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-normal-radius) {
	padding:                    $padding-vertical $padding-horizontal;
	font-size:                  $font-size;
	line-height:                $line-height;
	border-radius:              $border-normal-radius;
}
